/**
 * screen/footer.css
 * Project: Nuppu
 * Naamio
 */

@media (min-width: 667px) {
    footer > * {
        width: unset;
    }

    footer > ul.social-box {
        align-items: flex-start;
        -webkit-align-items: flex-start;
    }

    footer > .badge-box svg {
        align-self: flex-end;
    }
}