/**
 * screen/main.css
 * Project: Nuppu
 * Naamio
 */

@media (min-width: 667px) {
    main > section {
        padding: 4vmax 8vmax; 
    }

    section.questions-contact > div {
        width: unset;
    }
}

@media (min-width: 960px) {
    #naamio-flow {
        margin-top: -10.71vw;
        width: 100%;
    }
}

