# Logs
logs
*.log

# Build
.build/
.build/*
lib/*
.rpt2_cache/
.rpt2_cache/*

# Raster images
*.png
*.tiff
*.jpg
*.jpeg
*.ico

# Fonts
*.woff
*.woff2

# Dependencies
node_modules/*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
.build/*
.build

# Dependency directories
node_modules/


