/**
 * base.css
 * Project: Nuppu
 * Naamio
 */

:root {
    --title-font: "Montserrat", Arial, Helvetica, sans-serif;
    --body-font: "Fira Sans", Arial, Helvetica, sans-serif;
    --light-neutral-color: rgba(255,255,255,1);
    --dark-neutral-color: rgba(9,0,22,1);
    --mid-dark-neutral-color: rgba(62,57,70,1);
    --primary-brand-color: rgba(22,84,220,1);
    --primary-complimentary-color: rgba(98,0,234,1);
    --primary-action-color: rgba(22,240,175,1);
    --warning-color: rgba(240,29,20,1);
    --alert-color: rgba(240,175,22,1);
    --brand-gradient: linear-gradient(45deg, rgba(22,240,175,1) 0%,rgba(22,84,220,1) 50%,rgba(90,0,234,1) 100%);
    --border-radius: 0;
    --border-width: 1px;
    --input-border-color: var(--dark-neutral-color);
    --button-border-color: var(--primary-action-color);
    --default-transition-style: 0.3s linear;
    --drop-shadow: 1px 1px 0 var(--dark-neutral-color);
    
}

html {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 500;
}

* {
    box-sizing: border-box;
    position: relative;
}

/* Typography 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1, h2, h3 {
    font-family: var(--title-font);
    line-height: 1.1;
}

h1 {
    color: var(--light-neutral-color);
    font-weight: 900;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

h2, h3 {
    color: var(--mid-dark-neutral-color);
    font-weight: 300;
}

p {
    color: var(--mid-dark-neutral-color);
    line-height: 1.45;
}

a {
    color: var(--primary-brand-color);
    text-decoration: none;
}

a, abbr, blockquote, details, figure, input, mark, option, optgroup, p, pre, span, sub, sup, textarea {
    font-weight: 500;
}

b, strong {
    color: var(--dark-neutral-color);
    font-weight: 700;
}

em {
    font-style: italic;
}

label {
    font-size: 0.8em;
}

blockquote {
    margin: 0;
    padding: 0;
}

button {
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    color: var(--primary-action-color);
    cursor: pointer;
    height: 3.2em;
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    min-width: 10rem;
    padding: 0.6em 2em 0.4em 2rem;
    text-transform: uppercase;
}

button:hover {
    background-color: var(--primary-action-color);
    color: white;
}


form {
    background-color: var(--soft-background-color);
    border: none;
    width: 100%;
}

form button {
    background-color: var(--primary-action-color);
    color: white;
    margin-top: 2em;
    position: relative;
    padding: 0;
    transition: 0.3s;
}

form button:hover {
    background-color: var(--primary-background-color);
    transition: 0.3s;
}

form button:active {
    background-color: var(--secondary-background-color);
    transition: 0.3s;
}

fieldset button {
    width: 100%;
}

fieldset {
    border-color: transparent;
}

input,
textarea {
    background-color: var(--light-neutral-color);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    box-sizing: border-box;
    cursor: text;
}

input {
    line-height: 1;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
}

label.required::after {
    color: var(--primary-action-color);
    content: "*";
    font-size: 2.3em;
    font-style: normal;
    font-weight: 700;
    left: calc(100% - 0.8em);
    position: absolute;
    top: 0.8em;
    z-index: 2;
}

textarea {
    min-height: 6.4em;
    resize: vertical;
}