/**
 * base.css
 * Project: Nuppu
 * Naamio
 */

:root {
    --title-font: "Montserrat", Arial, Helvetica, sans-serif;
    --body-font: "Fira Sans", Arial, Helvetica, sans-serif;
    --light-neutral-color: rgba(255,255,255,1);
    --dark-neutral-color: rgba(9,0,22,1);
    --mid-dark-neutral-color: rgba(62,57,70,1);
    --primary-brand-color: rgba(22,84,220,1);
    --primary-complementary-color: rgba(98,0,234,1);
    --primary-action-color: rgba(22,240,175,1);
    --warning-color: rgba(240,29,20,1);
    --alert-color: rgba(240,175,22,1);
    --brand-gradient: linear-gradient(45deg, rgba(22,240,175,1) 0%,rgba(22,84,220,1) 50%,rgba(90,0,234,1) 100%);
    --border-radius: 0;
    --border-width: 1px;
    --input-border-color: var(--dark-neutral-color);
    --button-border-color: var(--primary-action-color);
    --default-transition-style: 0.3s linear;
    --drop-shadow: 1px 1px 0 var(--dark-neutral-color);
    
}

html {
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 500;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
    position: relative;
}

/* Typography 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1, h2, h3, h4 {
    font-family: var(--title-font);
    line-height: 1.3;
}

header h1 {
    color: var(--light-neutral-color);
    text-align: center;
}

h1 {
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

h2 {
    color: var(--mid-dark-neutral-color);
    font-weight: 300;
}

h3 {
    color: var(--dark-neutral-color);
}

h3, h4 {
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

p {
    color: var(--mid-dark-neutral-color);
    line-height: 1.45;
    max-width: 56ch;
}

a {
    color: var(--primary-brand-color);
    text-decoration: none;
}

a, abbr, blockquote, details, figure, input, mark, option, optgroup, p, pre, span, sub, sup, textarea {
    font-weight: 300;
}

b, strong {
    color: var(--dark-neutral-color);
    font-weight: 700;
}

em {
    font-style: italic;
}

label {
    font-size: 0.8em;
}

blockquote {
    color: var(--mid-dark-neutral-color);
    font-family: var(--title-font);
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.7;
    margin: 6em 10vmin 4em 10vmin;
    max-width: 56ch;
    text-align: center;
}
