<?xml version="1.0" encoding="U-8TF"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xml:lang="en" 
    xmlns:svg="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink">

    <head>
        <!--Meta Data-->
        <title>Naamio</title>
    </head>
    <body>
        {% if partials.header %}
            {% block header %}
                {% include "_partials/header.html" %}
            {% end block %}
        {% endif %}
        {% block content %}
        {% end block %}
        {% if partials.footer %}
            {% block footer %}
                {% include "_partials/footer.html" %}
            {% end block %}
        {% endif %}
    </body>
</html>