/**
 * header.css
 * Project: Nuppu
 * Naamio
 */

header {
    background-image: var(--brand-gradient);
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    -webkit-flex-flow: column;
    height: 70vh;
    min-height: 28em;
}

header h2 {
    color: var(--light-neutral-color);
    filter: drop-shadow(1px 1px 0.5px var(--primary-complementary-color));
    text-align: center;
}

header nav {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    height: 4em;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    z-index: 2;
}

a#home {
    align-items: center;
    -webkit-align-items: center;
    display: flex;
    height: 4em;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 6em;
    min-width: 4em;
    width: 100%;
}

#home img {
    height: 1.5em;
}

div#dropdown-wrapper {
    display: flex;
    display: -webkit-flex;
    flex: 2 0 auto;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

div#dropdown-wrapper button,
div#dropdown-wrapper .button {
    height: 100%;
    max-width: 10em;
    min-width: unset;
    width: 50%;
    z-index: 3;
}

.dropdown-button {
    background-color: transparent;
}

.dropdown-button,
.dropdown-button:hover,
.dropdown-button:active {
    border-color: transparent;
    color: var(--light-neutral-color);
    transition: 1s;
}

.dropdown-button:hover,
.dropdown-button:active,
.dropdown-button.active,
nav#dropdown-navlist:hover .dropdown-button {
    background-color: var(--dark-neutral-color);
    transition: 1s;
}

.dropdown-button.active + nav#dropdown-navlist,
.dropdown-button:hover + nav#dropdown-navlist,
.dropdown-button:active + nav#dropdown-navlist,
nav#dropdown-navlist:hover {
    top: 0;
    transform: scaleY(1);
    transition: top 1s, tranform 1s;
}

nav#dropdown-navlist {
    background-color: var(--dark-neutral-color);
    display: block;
    margin-top: 0;
    min-height: 100vh;
    overflow-y: scroll;
    padding: 4em 2em 2em 2em;
    position: absolute;
    right: 0;
    text-align: right;
    top: -100vh;
    transform: scaleY(0);
    transform-origin: top;
    transition: top 2s, transform 2s;
    z-index: 2;
}

nav#dropdown-navlist ul {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    padding: 0;
    width: 100%;
}

#dropdown-navlist li {
    margin-bottom: 4em;
}

#dropdown-navlist li:last-of-type {
    padding-bottom: 4em;
}

@supports (display: grid) {
    nav#dropdown-navlist ul {
        align-content: flex-start;
        -webkit-align-content: flex-start;
        display: grid;
        grid-gap: 10%;
    }

    #dropdown-navlist li {
        margin-bottom: 0;
    }
}

nav#dropdown-navlist a h3 {
    color: var(--primary-action-color);
    margin-bottom: 0;
    padding-right: 0;
    transition: var(--default-transition-style);
}

nav#dropdown-navlist p {
    color: var(--light-neutral-color);
    margin-top: 0.5em;
    opacity: 0.8;
}

header > section {
    align-items: center;
    -webkit-align-items: center;
    display: flex;
    display: -webkit-flex;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 8vmmin;
    position: absolute;
    top: 0;
    width: 100%;
}

#dropdown-navlist a:hover h3 {
    color: var(--primary-complementary-color);
    padding-right: 2em;
    transition: var(--default-transition-style);
}