/**
 * main.css
 * Project: Nuppu
 * Naamio
 */

main > section {
    align-items: center;
    -webkit-align-items: center;
    background-color: var(--light-neutral-color);
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    min-height: 60vh;
    padding: 2em; 
    width: 100%;
}

main > section[class~="features"] > div {
    max-width: 56ch;
    min-width: 16em;
    width: 50%;
}

main > section.features > div:nth-of-type(2) {
    display: flex;
    display: -webkit-flex;
    flex: 0 0 44%;
    width: 44%;
}

main > section.full-width-feature {
    margin-top: 4vmax;
    margin-bottom: 4vmax;
    min-height: 80vh;
    padding: 0;
}

main > section.features-small h3 {
    color: var(--primary-complementary-color);
}

section[class~="features"] div > img {
    height: 100%;
    flex: 1 1 100%;
    margin: auto;
    max-width: 30em;
    object-fit: contain;
    padding: 10%;
    width: 100%;
}

section.questions-contact {
    background-color: var(--dark-neutral-color);
    color: var(--light-neutral-color);
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: unset;
    padding: 10vmin;
    width: 100%;
}

section.questions-contact h2,
section.questions-contact h2 strong,
section.questions-contact p {
    color: var(--light-neutral-color);
}

section.questions-contact > div {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 2;
    margin: 4vmax;
    width: 100%;
}

div.button-container {
    flex-grow: 1;
}

.features-small div {
    margin-bottom: 4em;
}

section#breadcrumbs {
    background-color: var(--light-neutral-color);
    color: var(--dark-neutral-color);
    height: 4em;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    min-height: unset;
    padding: 0;
    width: 100%;
}

section#breadcrumbs > * {
    padding: 1em;
}

section#breadcrumbs #breadcrumbs-home {
    align-items: center;
    -webkit-align-items: center;
    display: flex;
    display: -webkit-flex;
}

#breadcrumbs-home img {
    height: 1em;
    margin-right: 1rem;
}

section#breadcrumbs h4 {
    color: var(--dark-neutral-color);
    font-size: 0.8em;
    margin: 0;
}

.full-width-feature div {
    min-height: 50vh;
}

#naamio-flow {
    height: 42.84vw;
    margin-top: -21.42vw;
    object-fit: cover;
    object-position: left;
    width: 100%;
}

.full-width-feature img {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

#naamio-feature-image {
    min-height: 24em;
}

blockquote::before,
blockquote::after {
    background-image: var(--brand-gradient);
    content: "";
    display: block;
    height: 0.2em;
    left: 10%;
    position: absolute;
    width: 80%;
}

blockquote::before {
    top: -2em;
}

blockquote::after {
    bottom: -2em;
}

section.features-small {
    flex-direction: column;
}

@supports (display: grid) {
    section.features {
        display: grid;
        display: -webkit-grid;
        grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
        grid-template-rows: auto;
        justify-items: center;
        -webkit-justify-items: center;
        grid-gap: 2em;
        -webkit-grid-gap: 2em;
    }

    main > section[class~="features"] > div {
        max-width: 56ch;
        width: unset
    }
    
    main > section.features > div:nth-of-type(2) {
        display: unset;
        height: 100%;
        width: 100%;
        max-width: 40ch;
        min-width: 14em;
    }
}

@media (min-width: 480px) {
    html {
        font-size: 16px;
        transition: var(--default-transition-style);
    }
}