<header>
    <nav>
        <a href=".">
            <svg id="naamio-mask-logo" width="2em" height="auto" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="/assets/images/vectors/symbol-defs.svg#naamio-mask-logo" href="/assets/images/vectors/symbol-defs.svg#naamio-mask-logo" />
            </svg>
        </a>
        <div id="dropdown-wrapper">
            <button class="dropdown-button">
                Projects
            </button>
            <nav id="dropdown-navlist">
                <ul>
                    <li>
                        <a>
                            <h3>
                                Naamio
                            </h3>
                            <p>
                                The lightweight web application platform
                            </p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <h3>
                                Kauppa
                            </h3>
                            <p>
                                The modular shop platform
                            </p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <h3>
                                Pomo
                            </h3>
                            <p>
                                The pluggable admin platform
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <button>
                Sign up
            </button>
        </div>
    </nav>
    <section>
        <h1>Naamio</h1>
    </section>
    
</header>